*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/backgroundfix.jpg);  
    background-size: cover;
    background-position: center;
}

.navbar{
    background-color: black;
    margin: auto;
    padding: 35px 0;
    text-align: right;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background:#ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.img{
    position: static;
    width: 1440px;
    height: 574px;
    left: 0px;
    top:70px;
}

.navbar ul li:hover:after{
    width:100%;
}

.headerText{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.headerText h2{
    font-size: 50px;
    color: white;
    position: relative;
    margin-bottom: 25px;
}

.headerText h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    background: color #000;;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


section {
    background-color: #ffe7c9;
    height: 50rem;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .register-form label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="date"],
  .register-form input[type="password"] {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 300px;
    font-size: 1em;
  }
  
  .register-form input[type="checkbox"] {
    margin-top: 1em;
  }

  .availability form{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: #eee;
    padding: 2rem;
    border-radius: .5rem;
  }
  
  .availability form .box{
    flex: 1 1 20rem;
  }
  
  .availability form .box p{
    font-size: 2rem;
    color: var(--primary);
  }
  
  .availability form .box .input{
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--black);
    margin: 1rem 0;
    border-radius: .5rem;
  }
  
  .header {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
  }


    footer {
      background-color: #000000;
      color: rgb(255, 255, 255);
      padding: 20px;
      text-align: center;
      font-weight: bold;
      margin-top:325px;
      top: 50%;
  }
