 /* Reset */
 *{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: black;
    margin: auto;
    padding: 35px 0;
    text-align: right;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
}

.navbar ul li:hover:after{
    width:100%;
}

.headerText{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.headerText h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
    position: relative;
    margin-bottom: 25px;
}

.headerText h2::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    display: block;
    background-color: #ffffff;
}

/* rooms */
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(Assets/backgroundfix.jpg);  
    background-size: cover;
    background-position: center;
}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6rem;
}

.about .row .image{
    flex: 1 1 30rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 51rem;
}
.cards{
    width: 400px;
    height: 420px;
    background: white;
    margin: 10px;
    border-radius: 20px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

.cards h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.cards p{
    text-align: center;
    font-size: 13.5px;
    justify-content: center;
    padding: 5px;
    /* margin: 20px; */
}

.cards .btn{
    display: inline-block;
    margin-top: 0;
    margin-left: 8rem;
    margin-bottom: 1rem;
    
    padding: 1rem 2rem;
    background: black;
    border-radius: .8rem;
    color: white;
    font-size: 1.0,2rem;
    cursor: pointer;
}

.btn:hover{
    background: grey;
}

.image-container{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-color: red;
    border-radius: 20px 20px 0 0;
}

.offers1{
    background-image: url(Assets/vip.jpg);
}

.offers2{
    background-image: url(Assets/deluxe.jpg);
}

.offers3{
    background-image: url(Assets/regularfix.jpg);
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-weight: bold;
    margin-top:325px;
    top: 50%;
}
